osd-enhanced-agg-table,
osd-enhanced-agg-table-group {
  display: block;
}

.striped-rows .osdAggTable__paginated {
  tr:nth-child(odd) td {
    background-color: lighten($euiColorLightestShade, 2%);
  }

  tr:hover td {
    background-color: $euiColorLightestShade;
  }
}
